/*




*/



.knob {

}


.knob .wheelContainer {
	margin: 0 auto;
	position: relative;
}



.knob .wheelContainer .tige {
	position: absolute;
	height: 8px;
	width: 3px;
	background: #3A3A3A;
	z-index: 3;

}


.knob .wheelContainer .lt {
	transform: rotate(-45deg);
	right: 6px;
}

.knob .wheelContainer .rt {
	transform: rotate(45deg);
	left: 6px;
}




.knob .wheel {
	background: #A3A3A3;
	position: relative;
	cursor: pointer;
}


.knob .wheel div {
	position: absolute;
	top: 0;
	left: 50%;
	background: #616161;
	width: 3px;
	margin-left: -1.5px;
}


.knob .wheel p {
	position: absolute;
	top: 50%;
	text-align: center;
	left: 0;
	right: 0;
	color: #585858;
}