/*

Controls Menu

*/



// Menu Right

#menu {
	
	width: 250px;
	position: absolute;
	top: 0;
	bottom: 0;
	right: 0;
	background: rgb(74, 63, 90);
	overflow: hidden;
	//transition: right 1s;
	box-shadow: rgb(53, 53, 53) 0px 0px 8px 2px;
	z-index: 999999;


	.contents {
		width: 250px;
		height: 100%;
		position: absolute;
		top: 0;
		transition: top .8s;
	}

}







// Switch play / pause

#switch {
	
	width: 120px;
	height: 120px;
	margin: 20px 58px;
	border: 7px solid #C5C5C5;
	border-radius: 67px;
	background: transparent;
	transition: background .3s;
	cursor: pointer;
	
	&:hover {
		background: rgb(130, 108, 150);
	}

	div {
		font: 50px icomoon;
		text-align: center;
		width: 100%;
		margin-top: 35px;
	}

}


#pause {
	display: none;
}

#play {
	margin-left: 5px;
}








// Progress

#progress {
	
	position: relative;
	background: rgb(31, 31, 31);
	border-radius: 3px;
	height: 6px;
	width: 200px;
	margin: 0 25px;
	cursor: pointer;

	div {
		position: absolute;
		height: 7px;
		width: 7px;
		top: -4.5px;
		background: #868686;
		margin-left: -4.5px;
		left: 0;
		border: 4px solid #5A5A5A;
		border-radius: 7.5px;
	}

}



#temps {
	
	width: 200px;
	margin: 1px 25px 0;
	height: 17px;

	span {
		font-size: 17px;
		color: rgb(11, 30, 71);
		
		&:last-of-type {
			float: right;
		}
	}

}







// Others buttons

#buttons {
	
	height: 40px;
	margin: 15px 40px 0;
	width: 170px;

	div {
		width: 30px;
		height: 20px;
		float: left;
		font: 20px icomoon;
		text-align: center;
		cursor: pointer;
		margin: 0 13.3px;
		transition: color .4s;
		
		&:hover {
			color: rgb(97, 20, 57);
		}
	}

}











// Songs

#songs {
	
	border-top: 1px solid #140F27;
}


#helpSongs {
	padding: 15px 22px;
	color: #FFF;
	font-size: 18px;
}




.song {
		
	padding: 3px 5px;
	height: 26px;
	background: rgba(0, 0, 0, 0.21);
	border-bottom: 1px solid #140F27;
	transition: background .4s;
	position: relative;
	cursor: pointer;


	&:hover {
		background: rgba(233, 233, 233, 0.15);
	}


	p {
		color: #E6E6E6;
		font-size: 16px;
		line-height: 25px;
		float: left;
	
		&.del {
			position: absolute;
			font-size: 10px;
			margin-right: 6px;
			right: -20px;
			transition: right .5s;
		}

		&.name {
			max-width: 176px;
			overflow: hidden;
			height: 100%;
		}
	}


	p.duration, .loader1 {
		float: right;
		opacity: 1;
		transition: opacity .3s;
	}



	&.clone {
		position: fixed;
		top: 0;
		left: 0;
		z-index: 9999999999;

		background: rgba(56, 47, 68, 0.86);
		border-bottom: 1px solid rgba(0, 0, 0, 0);

		&:hover {
			background: inherit;
		}
	}



	&.holder {
		background-color: #4A3F5A;
    	border: 2px dashed #FBFBFB;

    	&:hover {
			background: inherit;
		}
	}
}




#songs.edit, .song.clone {

	.duration {
		opacity: 0;
	}


	.del {
	    right: 6px;
	}
}













// Manage Playlist Button

#managePlayBtn {
	position: absolute;
	bottom: 5px;
	text-align: center;
	left: 0;
	right: 0;
	color: #FFF;
	cursor: pointer;
}