/*

Drop Music

*/



#dropMusic {
	
	display: none;
	background: rgba(0, 0, 0, 0.81);
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;

	p {
		color: #fff;
		position: absolute;
		top: 50%;
		left: 0;
		right: 0;
		text-align: center;
		height: 30px;
		line-height: 30px;
		font-size: 30px;
		margin-top: -15px;
	}

}