/*

Help Menu

*/


#help {


	p {
		font-size: 16px;
		color: #FFF;
		margin-left: 10px;
	}


	span {
		padding: 8px 14px;
		background: #C7C7C7;
		border-bottom: 2px solid #909090;
		line-height: 45px;
		border-radius: 4px;
		font-size: 13px;
		margin-right: 5px;
		color: #222;
	}


	a {
		color: #3D8BD7;
		font-weight: bold;
		text-decoration: none;
	}


}