/*

Loaders

*/



@-webkit-keyframes fadeG {
	0% { background-color:#363636 }
	100% { background-color:#757575 }
}

@keyframes fadeG {
	0% { background-color:#363636 }
	100% { background-color:#757575 }
}



.loader1 {
	
	position:relative;
	width:20px;
	height:25px;
	

	> div {
		position:absolute;
		background-color:#757575;
		width:3px;
		height:8px;
		-webkit-border-radius:3px 3px 0 0;
		-webkit-transform:scale(0.4);
		-webkit-animation-name:fadeG;
		-webkit-animation-duration:0.48s;
		-webkit-animation-iteration-count:infinite;
		-webkit-animation-direction:linear;
		border-radius:3px 3px 0 0;
		transform:scale(0.4);
		animation-name:fadeG;
		animation-duration:0.48s;
		animation-iteration-count:infinite;
		animation-direction:linear;
	}


	.rotateG_01 {
		left:0;
		top:9px;
		-webkit-animation-delay:0.18s;
		-webkit-transform:rotate(-90deg);
		animation-delay:0.18s;
		transform:rotate(-90deg);
	}


	.rotateG_02 {
		left:3px;
		top:3px;
		-webkit-animation-delay:0.24s;
		-webkit-transform:rotate(-45deg);
		animation-delay:0.24s;
		transform:rotate(-45deg);
	}


	.rotateG_03 {
		left:8px;
		top:1px;
		-webkit-animation-delay:0.3s;
		-webkit-transform:rotate(0deg);
		animation-delay:0.3s;
		transform:rotate(0deg);
	}


	.rotateG_04 {
		right:3px;
		top:3px;
		-webkit-animation-delay:0.36s;
		-webkit-transform:rotate(45deg);
		animation-delay:0.36s;
		transform:rotate(45deg);
	}


	.rotateG_05 {
		right:0;
		top:9px;
		-webkit-animation-delay:0.42s;
		-webkit-transform:rotate(90deg);
		animation-delay:0.42s;
		transform:rotate(90deg);
	}


	.rotateG_06 {
		right:3px;
		bottom:2px;
		-webkit-animation-delay:0.48s;
		-webkit-transform:rotate(135deg);
		animation-delay:0.48s;
		transform:rotate(135deg);
	}


	.rotateG_07 {
		bottom:0;
		left:8px;
		-webkit-animation-delay:0.54s;
		-webkit-transform:rotate(180deg);
		animation-delay:0.54s;
		transform:rotate(180deg);
	}


	.rotateG_08 {
		left:3px;
		bottom:2px;
		-webkit-animation-delay:0.6s;
		-webkit-transform:rotate(-135deg);
		animation-delay:0.6s;
		transform:rotate(-135deg);
	}

}