@font-face {
	font-family: 'icomoon';
	src:url('fonts/icomoon.eot');
	src:url('fonts/icomoon.eot?#iefix') format('embedded-opentype'),
		url('fonts/icomoon.woff') format('woff'),
		url('fonts/icomoon.ttf') format('truetype'),
		url('fonts/icomoon.svg#icomoon') format('svg');
	font-weight: normal;
	font-style: normal;
}


*, body, div, p, canvas {
	margin: 0;
	padding: 0;
	color: #222;
	font: 18px Arial, sans-serif;
}

body {
	overflow: hidden;
	background-color: rgb(201, 201, 201);
}















#dropMusic {
	display: none;
	background: rgba(0, 0, 0, 0.81);
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
}

#dropMusic p {
	color: #fff;
	position: absolute;
	top: 50%;
	left: 0;
	right: 0;
	text-align: center;
	height: 30px;
	line-height: 30px;
	font-size: 30px;
	margin-top: -15px;
}




